<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_boss_trample_on_bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1190},{516,414}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,66},{516,414}}</string>
                <key>sourceSize</key>
                <string>{622,516}</string>
            </dict>
            <key>effect_boss_trample_on_bomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,538},{622,502}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,502}}</string>
                <key>sourceSize</key>
                <string>{622,516}</string>
            </dict>
            <key>effect_boss_trample_on_bomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,800},{526,388}}</string>
                <key>offset</key>
                <string>{18,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,127},{526,388}}</string>
                <key>sourceSize</key>
                <string>{622,516}</string>
            </dict>
            <key>effect_boss_trample_on_bomb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1190},{486,152}}</string>
                <key>offset</key>
                <string>{42,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,336},{486,152}}</string>
                <key>sourceSize</key>
                <string>{622,516}</string>
            </dict>
            <key>effect_boss_trample_on_foot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1708},{332,304}}</string>
                <key>offset</key>
                <string>{175,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,0},{332,304}}</string>
                <key>sourceSize</key>
                <string>{714,384}</string>
            </dict>
            <key>effect_boss_trample_on_foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1190},{342,384}}</string>
                <key>offset</key>
                <string>{126,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,0},{342,384}}</string>
                <key>sourceSize</key>
                <string>{714,384}</string>
            </dict>
            <key>effect_boss_trample_on_foot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1576},{364,376}}</string>
                <key>offset</key>
                <string>{-41,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,0},{364,376}}</string>
                <key>sourceSize</key>
                <string>{714,384}</string>
            </dict>
            <key>effect_boss_trample_on_foot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1708},{462,294}}</string>
                <key>offset</key>
                <string>{-122,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{462,294}}</string>
                <key>sourceSize</key>
                <string>{714,384}</string>
            </dict>
            <key>effect_boss_trample_on_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,238},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>effect_boss_trample_on_smoke_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,2},{796,84}}</string>
                <key>offset</key>
                <string>{-30,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,148},{796,84}}</string>
                <key>sourceSize</key>
                <string>{1004,270}</string>
            </dict>
            <key>effect_boss_trample_on_smoke_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{860,116}}</string>
                <key>offset</key>
                <string>{-20,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,125},{860,116}}</string>
                <key>sourceSize</key>
                <string>{1004,270}</string>
            </dict>
            <key>effect_boss_trample_on_smoke_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{966,234}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{966,234}}</string>
                <key>sourceSize</key>
                <string>{1004,270}</string>
            </dict>
            <key>effect_boss_trample_on_smoke_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,274},{936,262}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{936,262}}</string>
                <key>sourceSize</key>
                <string>{1004,270}</string>
            </dict>
            <key>effect_boss_trample_on_smoke_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{964,270}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{964,270}}</string>
                <key>sourceSize</key>
                <string>{1004,270}</string>
            </dict>
            <key>effect_boss_trample_on_smoke_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{956,244}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{956,244}}</string>
                <key>sourceSize</key>
                <string>{1004,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_boss_trample_on.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:901b8371529dc8f3348ba1ed7eb5a912$</string>
            <key>textureFileName</key>
            <string>effect_boss_trample_on.png</string>
        </dict>
    </dict>
</plist>
