<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{246,254}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,17},{246,254}}</string>
                <key>sourceSize</key>
                <string>{314,282}</string>
            </dict>
            <key>effect_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{230,262}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{230,262}}</string>
                <key>sourceSize</key>
                <string>{314,282}</string>
            </dict>
            <key>effect_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,218}}</string>
                <key>offset</key>
                <string>{19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{276,218}}</string>
                <key>sourceSize</key>
                <string>{314,282}</string>
            </dict>
            <key>effect_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,522},{240,230}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{240,230}}</string>
                <key>sourceSize</key>
                <string>{314,282}</string>
            </dict>
            <key>effect_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{272,274}}</string>
                <key>offset</key>
                <string>{21,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,2},{272,274}}</string>
                <key>sourceSize</key>
                <string>{314,282}</string>
            </dict>
            <key>effect_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,266},{232,254}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{232,254}}</string>
                <key>sourceSize</key>
                <string>{314,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:072a25fa473fa668985504d023ca02b4$</string>
            <key>textureFileName</key>
            <string>effect_1.png</string>
        </dict>
    </dict>
</plist>
