<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,154},{38,36}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,89},{38,36}}</string>
                <key>sourceSize</key>
                <string>{184,180}</string>
            </dict>
            <key>effect_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,154},{102,90}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,48},{102,90}}</string>
                <key>sourceSize</key>
                <string>{184,180}</string>
            </dict>
            <key>effect_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{152,142}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,34},{152,142}}</string>
                <key>sourceSize</key>
                <string>{184,180}</string>
            </dict>
            <key>effect_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,176}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{182,176}}</string>
                <key>sourceSize</key>
                <string>{184,180}</string>
            </dict>
            <key>effect_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{150,166}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{150,166}}</string>
                <key>sourceSize</key>
                <string>{184,180}</string>
            </dict>
            <key>effect_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,146},{112,138}}</string>
                <key>offset</key>
                <string>{36,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,1},{112,138}}</string>
                <key>sourceSize</key>
                <string>{184,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7b9a74a39a9c327f9a96e2d81f2d622$</string>
            <key>textureFileName</key>
            <string>effect_3.png</string>
        </dict>
    </dict>
</plist>
