<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_boss_trample_on_smoke_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{936,262}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{936,262}}</string>
                <key>sourceSize</key>
                <string>{1004,270}</string>
            </dict>
            <key>effect_boss_trample_on_smoke_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{964,270}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{964,270}}</string>
                <key>sourceSize</key>
                <string>{1004,270}</string>
            </dict>
            <key>effect_boss_trample_on_smoke_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{956,244}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{956,244}}</string>
                <key>sourceSize</key>
                <string>{1004,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_boss_trample_on_smoke_x2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:433f420c8e8c1a50d20cf987771fc66d$</string>
            <key>textureFileName</key>
            <string>effect_boss_trample_on_smoke_x2.png</string>
        </dict>
    </dict>
</plist>
