<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CCPayGoldDialog_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{662,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,235}}</string>
                <key>sourceSize</key>
                <string>{662,235}</string>
            </dict>
            <key>CCPayGoldDialog_Btn_Cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,666},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>CCPayGoldDialog_Btn_Get.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{72,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,29}}</string>
                <key>sourceSize</key>
                <string>{72,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CCPayGoldDialog.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8edde0183267d118c83e41c4c03b493d$</string>
            <key>textureFileName</key>
            <string>CCPayGoldDialog.png</string>
        </dict>
    </dict>
</plist>
