<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FunnyGame_Dialog_Box_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{638,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{638,318}}</string>
                <key>sourceSize</key>
                <string>{640,318}</string>
            </dict>
            <key>FunnyGame_Dialog_Box_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{638,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{638,318}}</string>
                <key>sourceSize</key>
                <string>{640,318}</string>
            </dict>
            <key>FunnyGame_Dialog_Box_Hlt.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,642},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>FunnyGame_Dialog_Box_Item.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,829},{73,73}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>FunnyGame_Dialog_Box_Purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{638,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{638,318}}</string>
                <key>sourceSize</key>
                <string>{640,318}</string>
            </dict>
            <key>FunnyGame_Dialog_Box_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{638,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{638,318}}</string>
                <key>sourceSize</key>
                <string>{640,318}</string>
            </dict>
            <key>FunnyGame_Dialog_Btn_Start.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,95},{140,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,49}}</string>
                <key>sourceSize</key>
                <string>{140,49}</string>
            </dict>
            <key>FunnyGame_Dialog_Img_BigStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,753},{74,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,68}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>FunnyGame_Dialog_Img_Bullet_+20.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,303},{43,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{43,20}}</string>
                <key>sourceSize</key>
                <string>{61,20}</string>
            </dict>
            <key>FunnyGame_Dialog_Img_Bullet_+40.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,281},{43,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{43,20}}</string>
                <key>sourceSize</key>
                <string>{61,20}</string>
            </dict>
            <key>FunnyGame_Dialog_Img_Bullet_+60.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,259},{43,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{43,20}}</string>
                <key>sourceSize</key>
                <string>{61,20}</string>
            </dict>
            <key>FunnyGame_Dialog_Img_Gold_x100.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,237},{49,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{49,20}}</string>
                <key>sourceSize</key>
                <string>{61,20}</string>
            </dict>
            <key>FunnyGame_Dialog_Img_Gold_x1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,347},{61,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,20}}</string>
                <key>sourceSize</key>
                <string>{61,20}</string>
            </dict>
            <key>FunnyGame_Dialog_Img_Gold_x200.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,73},{53,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{53,20}}</string>
                <key>sourceSize</key>
                <string>{61,20}</string>
            </dict>
            <key>FunnyGame_Dialog_Img_Gold_x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,325},{41,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{41,20}}</string>
                <key>sourceSize</key>
                <string>{61,20}</string>
            </dict>
            <key>FunnyGame_Dialog_Img_Gold_x500.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,51},{53,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{53,20}}</string>
                <key>sourceSize</key>
                <string>{61,20}</string>
            </dict>
            <key>FunnyGame_Dialog_Img_Nothing.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{47,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,53}}</string>
                <key>sourceSize</key>
                <string>{47,53}</string>
            </dict>
            <key>FunnyGame_Dialog_Img_RedPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,347},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FunnyGame_Dialog_UI.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:993e078c27a39020ea19d40f61176c14$</string>
            <key>textureFileName</key>
            <string>FunnyGame_Dialog_UI.png</string>
        </dict>
    </dict>
</plist>
