<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameTop_UI_Btn_Jbb_FocusIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,245},{144,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,58}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>GameTop_UI_Btn_Jbb_FocusOut.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,185},{144,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,58}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>GameTop_UI_Btn_Lsb_FocusIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,125},{144,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,58}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>GameTop_UI_Btn_Lsb_FocusOut.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,65},{144,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,58}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>GameTop_UI_Btn_Start.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{176,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,61}}</string>
                <key>sourceSize</key>
                <string>{176,61}</string>
            </dict>
            <key>GameTop_UI_Dialog_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{730,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{730,399}}</string>
                <key>sourceSize</key>
                <string>{730,399}</string>
            </dict>
            <key>GameTop_UI_Dialog_Btn_Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,937},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>GameTop_UI_Img_JbbBar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,305},{630,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{630,64}}</string>
                <key>sourceSize</key>
                <string>{630,66}</string>
            </dict>
            <key>GameTop_UI_Img_JbbBar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{630,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{630,64}}</string>
                <key>sourceSize</key>
                <string>{630,66}</string>
            </dict>
            <key>GameTop_UI_Img_LsbBar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,305},{630,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{630,64}}</string>
                <key>sourceSize</key>
                <string>{630,66}</string>
            </dict>
            <key>GameTop_UI_Img_LsbBar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{630,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{630,64}}</string>
                <key>sourceSize</key>
                <string>{630,66}</string>
            </dict>
            <key>GameTop_UI_Img_NumSelf.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{446,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,40}}</string>
                <key>sourceSize</key>
                <string>{446,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameTop_UI.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ee19bb6bebd98fd462bd9911c7d849d$</string>
            <key>textureFileName</key>
            <string>GameTop_UI.png</string>
        </dict>
    </dict>
</plist>
