<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Game_UI_Bar_Level.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{272,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{272,24}}</string>
                <key>sourceSize</key>
                <string>{276,56}</string>
            </dict>
            <key>Game_UI_Bar_Ms_End.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,103},{101,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,6}}</string>
                <key>sourceSize</key>
                <string>{101,6}</string>
            </dict>
            <key>Game_UI_Bar_Ms_Point.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,86},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>Game_UI_Bar_Ms_Progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{99,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,4}}</string>
                <key>sourceSize</key>
                <string>{101,6}</string>
            </dict>
            <key>Game_UI_Bar_Skill_End.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,41},{168,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,28}}</string>
                <key>sourceSize</key>
                <string>{168,28}</string>
            </dict>
            <key>Game_UI_Bar_Skill_Progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,71},{166,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{166,24}}</string>
                <key>sourceSize</key>
                <string>{168,28}</string>
            </dict>
            <key>Game_UI_Box_Djs.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,173},{40,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,88}}</string>
                <key>sourceSize</key>
                <string>{40,88}</string>
            </dict>
            <key>Game_UI_Box_GameStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,199},{132,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,36}}</string>
                <key>sourceSize</key>
                <string>{132,36}</string>
            </dict>
            <key>Game_UI_Box_Gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{228,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,37}}</string>
                <key>sourceSize</key>
                <string>{228,37}</string>
            </dict>
            <key>Game_UI_Box_Level.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,56}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{272,56}}</string>
                <key>sourceSize</key>
                <string>{276,56}</string>
            </dict>
            <key>Game_UI_Box_TimeMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,41},{72,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>Game_UI_Box_Weapon_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,206},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Game_UI_Box_Weapon_Unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,115},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>Game_UI_Box_WpnCost.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,97},{116,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,28}}</string>
                <key>sourceSize</key>
                <string>{116,28}</string>
            </dict>
            <key>Game_UI_Btn_Cjms.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,148},{140,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,49}}</string>
                <key>sourceSize</key>
                <string>{140,49}</string>
            </dict>
            <key>Game_UI_Btn_Double.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,112},{88,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,59}}</string>
                <key>sourceSize</key>
                <string>{88,59}</string>
            </dict>
            <key>Game_UI_Btn_Jbbz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{136,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,157}}</string>
                <key>sourceSize</key>
                <string>{136,157}</string>
            </dict>
            <key>Game_UI_Btn_Pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>Game_UI_Btn_Shms.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,97},{140,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,49}}</string>
                <key>sourceSize</key>
                <string>{140,49}</string>
            </dict>
            <key>Game_UI_Btn_Skill_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,272},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>Game_UI_Btn_Skill_Enabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,272},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>Game_UI_Btn_Store.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,215},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>Game_UI_Btn_TakeGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,237},{131,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,39}}</string>
                <key>sourceSize</key>
                <string>{131,39}</string>
            </dict>
            <key>Game_UI_Img_Drop_Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,224},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>Game_UI_Img_Offline.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,215},{88,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,24}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>Game_UI_Img_Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,224},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Game_UI_Img_Star_End.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,173},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Game_UI_Img_TakeGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,86},{90,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game_UI.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcc59b284d810a065477fa804f0737fd$</string>
            <key>textureFileName</key>
            <string>Game_UI.png</string>
        </dict>
    </dict>
</plist>
