<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameMode_Dialog_UI_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,347}}</string>
                <key>sourceSize</key>
                <string>{336,347}</string>
            </dict>
            <key>GameMode_Dialog_UI_Btn_Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMode_Dialog_UI.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d123539ba1196683ea0e14780e9a7c91$</string>
            <key>textureFileName</key>
            <string>GameMode_Dialog_UI.png</string>
        </dict>
    </dict>
</plist>
