<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MenuMain_UI_Btn_About.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,142},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>MenuMain_UI_Btn_Help.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,72},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>MenuMain_UI_Btn_Kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{134,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,109}}</string>
                <key>sourceSize</key>
                <string>{134,109}</string>
            </dict>
            <key>MenuMain_UI_Btn_Music_Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,212},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>MenuMain_UI_Btn_Music_On.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>MenuMain_UI_Btn_Start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,79}}</string>
                <key>sourceSize</key>
                <string>{182,79}</string>
            </dict>
            <key>MenuMain_UI_Btn_Top.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MenuMain_UI.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60f559144c555c808078ed8a142446a1$</string>
            <key>textureFileName</key>
            <string>MenuMain_UI.png</string>
        </dict>
    </dict>
</plist>
