<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>random_tasks_box_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{88,202}}</string>
                <key>offset</key>
                <string>{-70,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,202}}</string>
                <key>sourceSize</key>
                <string>{228,206}</string>
            </dict>
            <key>random_tasks_box_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,92},{160,200}}</string>
                <key>offset</key>
                <string>{-34,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{160,200}}</string>
                <key>sourceSize</key>
                <string>{228,206}</string>
            </dict>
            <key>random_tasks_box_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,204}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,204}}</string>
                <key>sourceSize</key>
                <string>{228,206}</string>
            </dict>
            <key>random_tasks_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,264},{180,168}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{180,168}}</string>
                <key>sourceSize</key>
                <string>{228,206}</string>
            </dict>
            <key>random_tasks_desc_bljs.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,412},{98,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{98,16}}</string>
                <key>sourceSize</key>
                <string>{132,18}</string>
            </dict>
            <key>random_tasks_desc_cjdbjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{132,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,18}}</string>
                <key>sourceSize</key>
                <string>{132,18}</string>
            </dict>
            <key>random_tasks_desc_dbjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,394},{98,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{98,16}}</string>
                <key>sourceSize</key>
                <string>{132,18}</string>
            </dict>
            <key>random_tasks_desc_embfjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,224},{132,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,18}}</string>
                <key>sourceSize</key>
                <string>{132,18}</string>
            </dict>
            <key>random_tasks_desc_hdjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{98,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{98,18}}</string>
                <key>sourceSize</key>
                <string>{132,18}</string>
            </dict>
            <key>random_tasks_desc_lbbjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,246},{116,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{116,16}}</string>
                <key>sourceSize</key>
                <string>{132,18}</string>
            </dict>
            <key>random_tasks_desc_lwjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,376},{98,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{98,16}}</string>
                <key>sourceSize</key>
                <string>{132,18}</string>
            </dict>
            <key>random_tasks_desc_mljs.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,254},{98,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{98,16}}</string>
                <key>sourceSize</key>
                <string>{132,18}</string>
            </dict>
            <key>random_tasks_desc_mnyjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{116,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{116,16}}</string>
                <key>sourceSize</key>
                <string>{132,18}</string>
            </dict>
            <key>random_tasks_desc_mxjjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,208},{116,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{116,16}}</string>
                <key>sourceSize</key>
                <string>{132,18}</string>
            </dict>
            <key>random_tasks_desc_qgjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,358},{98,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{98,16}}</string>
                <key>sourceSize</key>
                <string>{132,18}</string>
            </dict>
            <key>random_tasks_desc_xcjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,226},{98,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{98,16}}</string>
                <key>sourceSize</key>
                <string>{132,18}</string>
            </dict>
            <key>random_tasks_desc_yrjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{98,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{98,18}}</string>
                <key>sourceSize</key>
                <string>{132,18}</string>
            </dict>
            <key>random_tasks_desc_yzjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{98,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{98,18}}</string>
                <key>sourceSize</key>
                <string>{132,18}</string>
            </dict>
            <key>random_tasks_failure.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,254},{180,168}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{180,168}}</string>
                <key>sourceSize</key>
                <string>{228,206}</string>
            </dict>
            <key>random_tasks_head_bljs.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,78},{34,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>random_tasks_head_cjdbjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,116},{26,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{26,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>random_tasks_head_dbjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,108},{26,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>random_tasks_head_embfjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,198},{24,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{24,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>random_tasks_head_hdjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{40,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>random_tasks_head_lbbjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,202},{28,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{28,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>random_tasks_head_lwjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,40},{30,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>random_tasks_head_mljs.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,40},{32,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>random_tasks_head_mnyjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{32,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{32,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>random_tasks_head_mxjjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,144},{30,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{30,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>random_tasks_head_qgjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,176},{24,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{24,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>random_tasks_head_xcjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,72},{34,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>random_tasks_head_yrjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,170},{26,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{26,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>random_tasks_head_yzjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,136},{32,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{32,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>random_tasks_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,246},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>random_tasks.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07d31227ff34ddccc33220fb37e5b408$</string>
            <key>textureFileName</key>
            <string>random_tasks.png</string>
        </dict>
    </dict>
</plist>
