<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WeaponGiftDialog_Btn_Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,901},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>WeaponGiftDialog_Btn_Get.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{179,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,63}}</string>
                <key>sourceSize</key>
                <string>{179,63}</string>
            </dict>
            <key>WeaponGiftDialog_Img_5z.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>WeaponGiftDialog_UI_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{617,447}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,447}}</string>
                <key>sourceSize</key>
                <string>{617,447}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WeaponGiftDialog_UI.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6058f89f51402da9d9b503251e1deb74$</string>
            <key>textureFileName</key>
            <string>WeaponGiftDialog_UI.png</string>
        </dict>
    </dict>
</plist>
