<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_yzjs_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{87,114}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{87,114}}</string>
                <key>sourceSize</key>
                <string>{95,122}</string>
            </dict>
            <key>zombie_yzjs_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{71,120}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{71,120}}</string>
                <key>sourceSize</key>
                <string>{95,122}</string>
            </dict>
            <key>zombie_yzjs_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,118},{75,110}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{75,110}}</string>
                <key>sourceSize</key>
                <string>{95,122}</string>
            </dict>
            <key>zombie_yzjs_move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,116},{83,112}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{83,112}}</string>
                <key>sourceSize</key>
                <string>{95,122}</string>
            </dict>
            <key>zombie_yzjs_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{69,122}}</string>
                <key>sourceSize</key>
                <string>{95,122}</string>
            </dict>
            <key>zombie_yzjs_move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{87,112}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{87,112}}</string>
                <key>sourceSize</key>
                <string>{95,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie_yzjs_move.png</string>
            <key>size</key>
            <string>{251,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c5ae20097dd2e580ea32bd012a16b8d$</string>
            <key>textureFileName</key>
            <string>zombie_yzjs_move.png</string>
        </dict>
    </dict>
</plist>
