<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_lwjs_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,2},{283,356}}</string>
                <key>offset</key>
                <string>{-13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{283,356}}</string>
                <key>sourceSize</key>
                <string>{325,394}</string>
            </dict>
            <key>zombie_lwjs_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{311,376}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{311,376}}</string>
                <key>sourceSize</key>
                <string>{325,394}</string>
            </dict>
            <key>zombie_lwjs_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{321,374}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{321,374}}</string>
                <key>sourceSize</key>
                <string>{325,394}</string>
            </dict>
            <key>zombie_lwjs_move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2},{309,372}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{309,372}}</string>
                <key>sourceSize</key>
                <string>{325,394}</string>
            </dict>
            <key>zombie_lwjs_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{301,386}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{301,386}}</string>
                <key>sourceSize</key>
                <string>{325,394}</string>
            </dict>
            <key>zombie_lwjs_move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,2},{301,352}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{301,352}}</string>
                <key>sourceSize</key>
                <string>{325,394}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie_lwjs_move.png</string>
            <key>size</key>
            <string>{1840,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27fc7d0a35bc7ef13e77825de795f2df$</string>
            <key>textureFileName</key>
            <string>zombie_lwjs_move.png</string>
        </dict>
    </dict>
</plist>
