<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_mxjjs_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,123},{80,113}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{80,113}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>zombie_mxjjs_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{72,117}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{72,117}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>zombie_mxjjs_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,113},{76,109}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{76,109}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>zombie_mxjjs_move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{78,111}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{78,111}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>zombie_mxjjs_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,119}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{76,119}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>zombie_mxjjs_move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{88,109}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,109}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie_mxjjs_move.png</string>
            <key>size</key>
            <string>{250,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beb92549ec412ae47af54b0487d4d1ec$</string>
            <key>textureFileName</key>
            <string>zombie_mxjjs_move.png</string>
        </dict>
    </dict>
</plist>
