<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_bljs_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{352,218}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,81},{352,218}}</string>
                <key>sourceSize</key>
                <string>{358,334}</string>
            </dict>
            <key>zombie_bljs_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{340,298}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,298}}</string>
                <key>sourceSize</key>
                <string>{358,334}</string>
            </dict>
            <key>zombie_bljs_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{336,268}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{336,268}}</string>
                <key>sourceSize</key>
                <string>{358,334}</string>
            </dict>
            <key>zombie_bljs_move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{350,192}}</string>
                <key>offset</key>
                <string>{-4,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,105},{350,192}}</string>
                <key>sourceSize</key>
                <string>{358,334}</string>
            </dict>
            <key>zombie_bljs_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,194}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,107},{358,194}}</string>
                <key>sourceSize</key>
                <string>{358,334}</string>
            </dict>
            <key>zombie_bljs_move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{352,228}}</string>
                <key>offset</key>
                <string>{-3,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,106},{352,228}}</string>
                <key>sourceSize</key>
                <string>{358,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie_bljs_move.png</string>
            <key>size</key>
            <string>{1412,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7ae4a50728d9c2af5087e81da6aa887$</string>
            <key>textureFileName</key>
            <string>zombie_bljs_move.png</string>
        </dict>
    </dict>
</plist>
