<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_mnyjs_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,89},{99,117}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{99,117}}</string>
                <key>sourceSize</key>
                <string>{111,129}</string>
            </dict>
            <key>zombie_mnyjs_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,119}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{91,119}}</string>
                <key>sourceSize</key>
                <string>{111,129}</string>
            </dict>
            <key>zombie_mnyjs_dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{85,119}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{85,119}}</string>
                <key>sourceSize</key>
                <string>{111,129}</string>
            </dict>
            <key>zombie_mnyjs_dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{83,117}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{83,117}}</string>
                <key>sourceSize</key>
                <string>{111,129}</string>
            </dict>
            <key>zombie_mnyjs_dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{77,117}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{77,117}}</string>
                <key>sourceSize</key>
                <string>{111,129}</string>
            </dict>
            <key>zombie_mnyjs_dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,190},{67,103}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{67,103}}</string>
                <key>sourceSize</key>
                <string>{111,129}</string>
            </dict>
            <key>zombie_mnyjs_dead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{57,29}}</string>
                <key>offset</key>
                <string>{-12,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,94},{57,29}}</string>
                <key>sourceSize</key>
                <string>{111,129}</string>
            </dict>
            <key>zombie_mnyjs_dead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,223},{31,19}}</string>
                <key>offset</key>
                <string>{-25,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,104},{31,19}}</string>
                <key>sourceSize</key>
                <string>{111,129}</string>
            </dict>
            <key>zombie_mnyjs_dead_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,190},{31,19}}</string>
                <key>offset</key>
                <string>{-25,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,104},{31,19}}</string>
                <key>sourceSize</key>
                <string>{111,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie_mnyjs_dead.png</string>
            <key>size</key>
            <string>{247,318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81666dca7ec42bf311a3756b7139da20$</string>
            <key>textureFileName</key>
            <string>zombie_mnyjs_dead.png</string>
        </dict>
    </dict>
</plist>
