<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_dbjs_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{79,125}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{79,125}}</string>
                <key>sourceSize</key>
                <string>{89,129}</string>
            </dict>
            <key>zombie_dbjs_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{75,127}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{75,127}}</string>
                <key>sourceSize</key>
                <string>{89,129}</string>
            </dict>
            <key>zombie_dbjs_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{77,121}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{77,121}}</string>
                <key>sourceSize</key>
                <string>{89,129}</string>
            </dict>
            <key>zombie_dbjs_move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,133},{77,119}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{77,119}}</string>
                <key>sourceSize</key>
                <string>{89,129}</string>
            </dict>
            <key>zombie_dbjs_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,129}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{83,129}}</string>
                <key>sourceSize</key>
                <string>{89,129}</string>
            </dict>
            <key>zombie_dbjs_move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,131},{79,123}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{79,123}}</string>
                <key>sourceSize</key>
                <string>{89,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie_dbjs_move.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75d5749880ff0c19b4ad85f4c075b063$</string>
            <key>textureFileName</key>
            <string>zombie_dbjs_move.png</string>
        </dict>
    </dict>
</plist>
