<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_mxjjs_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,117},{80,113}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{80,113}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>zombie_mxjjs_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,113}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{82,113}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>zombie_mxjjs_dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{80,113}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{80,113}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>zombie_mxjjs_dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{78,111}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{78,111}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>zombie_mxjjs_dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{78,111}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{78,111}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>zombie_mxjjs_dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,115},{70,103}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{70,103}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>zombie_mxjjs_dead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,220},{62,27}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,90},{62,27}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>zombie_mxjjs_dead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{32,17}}</string>
                <key>offset</key>
                <string>{-16,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,100},{32,17}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>zombie_mxjjs_dead_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,232},{32,17}}</string>
                <key>offset</key>
                <string>{-16,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,100},{32,17}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie_mxjjs_dead.png</string>
            <key>size</key>
            <string>{246,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fbc19e69071d8ade2b4807ff518602d$</string>
            <key>textureFileName</key>
            <string>zombie_mxjjs_dead.png</string>
        </dict>
    </dict>
</plist>
