<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_qgjs_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{91,108}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{91,108}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>zombie_qgjs_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{89,114}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{89,114}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>zombie_qgjs_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{109,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>zombie_qgjs_move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{103,108}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{103,108}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>zombie_qgjs_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,116}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{85,116}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>zombie_qgjs_move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{87,106}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{87,106}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie_qgjs_move.png</string>
            <key>size</key>
            <string>{578,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0df731e4e2933feab818ea342492979d$</string>
            <key>textureFileName</key>
            <string>zombie_qgjs_move.png</string>
        </dict>
    </dict>
</plist>
