<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_mnyjs_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,107},{99,117}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{99,117}}</string>
                <key>sourceSize</key>
                <string>{111,129}</string>
            </dict>
            <key>zombie_mnyjs_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{97,121}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{111,129}</string>
            </dict>
            <key>zombie_mnyjs_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,208},{85,115}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{85,115}}</string>
                <key>sourceSize</key>
                <string>{111,129}</string>
            </dict>
            <key>zombie_mnyjs_move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{89,115}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{89,115}}</string>
                <key>sourceSize</key>
                <string>{111,129}</string>
            </dict>
            <key>zombie_mnyjs_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{111,129}</string>
            </dict>
            <key>zombie_mnyjs_move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{103,121}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{103,121}}</string>
                <key>sourceSize</key>
                <string>{111,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie_mnyjs_move.png</string>
            <key>size</key>
            <string>{252,295}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c4839d3b1bb524f77d8397f048dd048$</string>
            <key>textureFileName</key>
            <string>zombie_mnyjs_move.png</string>
        </dict>
    </dict>
</plist>
