<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_yzjs_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,114}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{87,114}}</string>
                <key>sourceSize</key>
                <string>{95,122}</string>
            </dict>
            <key>zombie_yzjs_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{83,116}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{83,116}}</string>
                <key>sourceSize</key>
                <string>{95,122}</string>
            </dict>
            <key>zombie_yzjs_dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{79,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{79,116}}</string>
                <key>sourceSize</key>
                <string>{95,122}</string>
            </dict>
            <key>zombie_yzjs_dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{77,116}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{77,116}}</string>
                <key>sourceSize</key>
                <string>{95,122}</string>
            </dict>
            <key>zombie_yzjs_dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,120},{73,114}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{73,114}}</string>
                <key>sourceSize</key>
                <string>{95,122}</string>
            </dict>
            <key>zombie_yzjs_dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,120},{63,102}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{63,102}}</string>
                <key>sourceSize</key>
                <string>{95,122}</string>
            </dict>
            <key>zombie_yzjs_dead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,224},{53,28}}</string>
                <key>offset</key>
                <string>{-7,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,93},{53,28}}</string>
                <key>sourceSize</key>
                <string>{95,122}</string>
            </dict>
            <key>zombie_yzjs_dead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,236},{31,18}}</string>
                <key>offset</key>
                <string>{-17,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,103},{31,18}}</string>
                <key>sourceSize</key>
                <string>{95,122}</string>
            </dict>
            <key>zombie_yzjs_dead_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{31,18}}</string>
                <key>offset</key>
                <string>{-17,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,103},{31,18}}</string>
                <key>sourceSize</key>
                <string>{95,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie_yzjs_dead.png</string>
            <key>size</key>
            <string>{251,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:437ec79e320911e2e20a0d1d4abafc60$</string>
            <key>textureFileName</key>
            <string>zombie_yzjs_dead.png</string>
        </dict>
    </dict>
</plist>
