<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cg_bullet_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,227},{203,269}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,53},{203,269}}</string>
                <key>sourceSize</key>
                <string>{325,331}</string>
            </dict>
            <key>cg_bullet_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{223,315}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,13},{223,315}}</string>
                <key>sourceSize</key>
                <string>{325,331}</string>
            </dict>
            <key>cg_bullet_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{279,315}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{279,315}}</string>
                <key>sourceSize</key>
                <string>{325,331}</string>
            </dict>
            <key>cg_bullet_effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{317,299}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{317,299}}</string>
                <key>sourceSize</key>
                <string>{325,331}</string>
            </dict>
            <key>cg_bullet_effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,293}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{325,293}}</string>
                <key>sourceSize</key>
                <string>{325,331}</string>
            </dict>
            <key>cg_bullet_effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,303},{229,249}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,62},{229,249}}</string>
                <key>sourceSize</key>
                <string>{325,331}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cg_bullet_effect.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbd28060cae0df98db7b93a24d2ee858$</string>
            <key>textureFileName</key>
            <string>cg_bullet_effect.png</string>
        </dict>
    </dict>
</plist>
