<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wd_bullet_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,62},{24,24}}</string>
                <key>sourceSize</key>
                <string>{156,148}</string>
            </dict>
            <key>wd_bullet_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,184},{56,56}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,34},{56,56}}</string>
                <key>sourceSize</key>
                <string>{138,132}</string>
            </dict>
            <key>wd_bullet_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{106,96}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{106,96}}</string>
                <key>sourceSize</key>
                <string>{138,132}</string>
            </dict>
            <key>wd_bullet_effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,104}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{116,104}}</string>
                <key>sourceSize</key>
                <string>{138,132}</string>
            </dict>
            <key>wd_bullet_effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{72,70}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{72,70}}</string>
                <key>sourceSize</key>
                <string>{138,132}</string>
            </dict>
            <key>wd_bullet_effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,100},{82,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{82,82}}</string>
                <key>sourceSize</key>
                <string>{138,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wd_bullet_effect.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5ba5fb1136d6a27a319931e05dcaf7e$</string>
            <key>textureFileName</key>
            <string>wd_bullet_effect.png</string>
        </dict>
    </dict>
</plist>
