<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xrz_bullet_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,204},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{27,27}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>xrz_bullet_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,31},{41,39}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>xrz_bullet_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,89},{65,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{65,67}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>xrz_bullet_effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{85,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{85,89}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>xrz_bullet_effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{99,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,99}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>xrz_bullet_effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,99}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xrz_bullet_effect.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03656f45b2734ecca3b029ea7999a965$</string>
            <key>textureFileName</key>
            <string>xrz_bullet_effect.png</string>
        </dict>
    </dict>
</plist>
