<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{93,107}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,36},{93,107}}</string>
                <key>sourceSize</key>
                <string>{153,143}</string>
            </dict>
            <key>shot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,125}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,125}}</string>
                <key>sourceSize</key>
                <string>{153,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>light_shot.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3f32f27b6026ea120cc3dc63d4a6226$</string>
            <key>textureFileName</key>
            <string>light_shot.png</string>
        </dict>
    </dict>
</plist>
